.accountBook-calendar {
  margin-bottom: 100px;
  margin: 0 5vw;
  padding-bottom: 10px;
  .calendar-date {
    text-align: center;
  }
}

.delete-btn {
  margin-left: 150px;
  margin-top: 10px;
}
.calendar {
  margin-bottom: 80px;
}
.chart {
  margin-bottom: 90px;
}
