@import "@/assets/css/components";

.homepage {
  font-family: $main-font;
  div {
    margin: $components-margin;
    .v-btn {
      width: 60%;
      cursor: pointer;
    }
    .v-img {
      text-align: center;
    }
    .kakao-area {
      width: 300px;
      padding: 10px;
      margin: 0px auto 0 auto;
      text-align: center;
      // border: 1px solid #cccccc;
      .kakao-btn {
        border-radius: 50px;
        width: 55vw;
        text-align: center;
        height: 6vh;
      }
    }
  }
}
