@import "@/assets/css/components";

.homepage {
  font-family: $main-font;
  div {
    margin: $components-margin;
    .v-btn {
      width: 60%;
      cursor: pointer;
    }
    .v-img {
      text-align: center;
    }
  }
}
