@import "@/assets/css/components";

.report {
  margin: $components-margin;
  font-family: $main-font;
  margin-top: 100px;
  .report-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(53, 184, 184);
  }
  .content {
    margin-top: 30px;
  }
  button {
    display: inline-flex;
    margin-top: 10vh;
  }
}
