@import "@/assets/css/components";

.shopping {
  margin: $components-margin;
  .mdi-arrow-left {
    margin-right: 100vw;
  }
  .final-box {
    background-color: rgb(192, 238, 238);
  }
  .camera-btn {
    margin-top: 20px;
    margin-left: 100px;
  }
}
